<!DOCTYPE html>
<html>
 <head>
    <style>
        .container {
          width: 500px;
          clear: both;
        }

        .container input {
          width: 100%;
          clear: both;
        }
        .button {
          background-color: #008CBA;
          border: none;
          color: white;
          padding: 8px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
      </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 </head>
 <body>
    <form method="POST" action="/insert">
      <label for="name">Name:</label><br>
      <input type="text" name="name" placeholder="Give your name"/><br/><br/>
      <label for="age">Age:</label><br>
      <input type="text" name="age" placeholder="Give your age"/><br/><br/>
      <button class="button">Add</button>
    </form>
</body>